<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/MyHub.js"></script>
</body>
</html>